.box{
    padding-left: 10px;
    border:1px solid;
    margin-left: 1px;
    height:200px;
    width: 300px;
}

.image{
    position: absolute;
  
  right: 400px;
  width: 400px; 
  height: 300px; 

  padding: 10px;
  right:50px;
}
.image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
 .image p{
    text-align:left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
