<html>
  <body>
    <h1>Contact Us:</h1>
    <div class="box">
         <p>Name:Mahith</p>
         <p>contact:7330797317</p>
         <p>email:mahith</p>
    </div>
    &nbsp;
    <div class="image">
      <p><mat-icon>qr_code</mat-icon>    Scan here to get the qrcode</p>
      <img src="assets\cspqr.png" alt="Image">
 </div>




<div class="box">
  <p>Name:Siva Nagendra</p>
  <p>Email: siva@gmail.com</p>
    <p>Phone: 8096137414</p>
</div>
&nbsp;

<div class="box">
  <p>Name:Revanth</p>
  <p>Email: Revanth@gmail.com</p>
  <p>Phone: 7672001772</p>
</div>
&nbsp;

<div class="box">
  <p>Name:Girish</p>
  <p>Email: girish@gmail.com</p>
  <p>Phone: 8247391167</p>
</div>
&nbsp;
<div class="box">
  <p>Name:Avanish</p>
  <p>Email: avinash@gmail.com</p>
    <p>Phone: 6305617587</p>
</div>
&nbsp;
<div class="box">
  <p>Name:Sharuk</p>
  <p>Email: sharuk@gmail.com</p>
    <p>Phone: 9110240829</p>
</div>
&nbsp;
<div class="box">
  <p>Name:Ravi nayak</p>
  <p>Email: ravi@gmail.com</p>
    <p>Phone: 8185907282</p>
</div>
&nbsp;
<div class="box">
  <p>Satish</p>
  <p>Email: Satish@gmail.com</p>
    <p>Phone: 9848056127</p>
</div>
&nbsp;
<div class="box">
  <p>Dandu Nayak</p>
  <p>Email: dandunayak@gmail.com</p>
    <p>Phone: 9965412378</p>
    
</div>
<div>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=yallamanda&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
      <a href="https://connectionsgame.org/">Connections Game</a></div>
      <style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}
      .gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}
      .gmap_iframe {width:600px!important;height:400px!important;}
      .iframe{flex-direction: right;}</style></div>
</div>

  </body>

</html>